This script generates the data for the database

In [13]:
import pandas as pd
import numpy as np

In [218]:
#machine annotate data
data = pd.read_csv('allPredLabel.csv')
len(data)

4520

In [220]:
#all data
sam = pd.read_csv('./Data/sample_5000.csv')
len(sam)

4732

In [221]:
#merge machine annotated data with userid
new = data.merge(sam, on = 'text')
len(new)

4355

In [225]:
new = data.merge(sam, on = 'text', how ='left')
print(len(new))
new.to_csv('merge.csv')

4520

In [226]:
#machine annotate data
data = pd.read_csv('merge_data.csv')
len(data)

4463

In [227]:
#select no quote data
dataNoL = data[data['result'] == 0]
len(dataNoL)

3895

In [247]:
#dataNoL
database = pd.DataFrame()
database['text'] = dataNoL['text']
database = database.assign (annotation = 0)
database = database.assign (annotation_date = np.nan)
database = database.assign (userid = data['userid'])
database = database.reset_index()
database = database.assign(id = database.index + 1)
len(database)

3895

In [248]:
#generate an array with 3 numbers
pid = np.random.choice([44553, 22334, 33442], size=3895)

In [249]:
database = database.assign(ParticipantID = pid) 
database = database.drop(['index'], axis=1)
database[0:10]

,text,annotation,annotation_date,userid,id,ParticipantID
0,"What would your liqour do? If it could, it wou...",0,NaN,009d96a823b6f6c085c092fb177491f6,1,33442
1,Met up with Vitico and Yeslenny the day wad pr...,0,NaN,009d96a823b6f6c085c092fb177491f6,2,22334
2,How do u expect kids 2 listen 2 their parents ...,0,NaN,009d96a823b6f6c085c092fb177491f6,3,44553
3,"For those of you still trying to text, and cal...",0,NaN,009d96a823b6f6c085c092fb177491f6,4,33442
4,"Where am I, where am I going, I totally got CR...",0,NaN,009d96a823b6f6c085c092fb177491f6,5,44553
5,I'm starting what I like to call project 365 I...,0,NaN,009d96a823b6f6c085c092fb177491f6,6,22334
6,So apparently 3-5am was the designated time la...,0,NaN,009d96a823b6f6c085c092fb177491f6,7,33442
7,Is getting tired of people assuming she is a s...,0,NaN,009d96a823b6f6c085c092fb177491f6,8,44553
8,"Life lives, life dies. Life laughs, life cries...",0,NaN,009d96a823b6f6c085c092fb177491f6,9,22334
9,Is at a great party where all the good songs a...,0,NaN,009d96a823b6f6c085c092fb177491f6,10,33442

In [250]:
print(len(database[database['ParticipantID'] == 22334]))
print(len(database[database['ParticipantID'] == 44553]))
print(len(database[database['ParticipantID'] == 33442]))

1278
1317
1300

In [251]:
database['ParticipantID'] = database['ParticipantID'].astype(str)
#database['ParticipantID'] = '"' + database.ParticipantID + '"'

In [252]:
database = database[['ParticipantID','id', 'userid','text', 'annotation_date', 'annotation']]
database[0:10]

,ParticipantID,id,userid,text,annotation_date,annotation
0,33442,1,009d96a823b6f6c085c092fb177491f6,"What would your liqour do? If it could, it wou...",NaN,0
1,22334,2,009d96a823b6f6c085c092fb177491f6,Met up with Vitico and Yeslenny the day wad pr...,NaN,0
2,44553,3,009d96a823b6f6c085c092fb177491f6,How do u expect kids 2 listen 2 their parents ...,NaN,0
3,33442,4,009d96a823b6f6c085c092fb177491f6,"For those of you still trying to text, and cal...",NaN,0
4,44553,5,009d96a823b6f6c085c092fb177491f6,"Where am I, where am I going, I totally got CR...",NaN,0
5,22334,6,009d96a823b6f6c085c092fb177491f6,I'm starting what I like to call project 365 I...,NaN,0
6,33442,7,009d96a823b6f6c085c092fb177491f6,So apparently 3-5am was the designated time la...,NaN,0
7,44553,8,009d96a823b6f6c085c092fb177491f6,Is getting tired of people assuming she is a s...,NaN,0
8,22334,9,009d96a823b6f6c085c092fb177491f6,"Life lives, life dies. Life laughs, life cries...",NaN,0
9,33442,10,009d96a823b6f6c085c092fb177491f6,Is at a great party where all the good songs a...,NaN,0

In [197]:
#database['ParticipantID'] = '(' + database.ParticipantID
#database['annotation'] = database['annotation'].astype(str)
#database['annotation'] =  database.annotation + '),'

In [253]:
database.to_csv('database.csv')