This script generates the data for the database

In [13]:
import pandas as pd
import numpy as np

In [161]:
#machine annotate data
data = pd.read_csv('allPredLabel.csv')
len(data)

4520

In [177]:
#select no quote data
dataNoL = data[data['result'] == 0]
len(dataNoL)

3940

In [178]:
#dataNoL
database = pd.DataFrame()
database['text'] = dataNoL['text']
database = database.assign (annotation = 0)
database = database.assign (annotation_date = np.nan)
database = database.reset_index()
database = database.assign(id = database.index + 1)
len(database)

3940

In [179]:
#generate an array with 3 numbers
pid = np.random.choice([44553, 22334, 33442], size=3940)

In [180]:
database = database.assign(ParticipantID = pid) 
database = database.drop(['index'], axis=1)
database[0:10]

,text,annotation,annotation_date,id,ParticipantID
0,A morning filled with the goodness of God's pe...,0,NULL,1,22334
1,"2) But because the pieces aren't exact, I have...",0,NULL,2,22334
2,"In ten minutes, my computer will announce to m...",0,NULL,3,33442
3,"One more thing lol, the /Get schooled/"" thing ...",0,NULL,4,44553
4,Lucasfilm's has stated that as the movie indus...,0,NULL,5,33442
5,OMG what is happening to this world there was ...,0,NULL,6,44553
6,"I must be a horrible person to be around, sinc...",0,NULL,7,44553
7,so many disney movies to watch! already got mu...,0,NULL,8,44553
8,"Now its time to see what is real who is real, ...",0,NULL,9,22334
9,I'm so proud of myself and all of 1st platoon ...,0,NULL,10,33442

In [181]:
print(len(database[database['ParticipantID'] == 22334]))
print(len(database[database['ParticipantID'] == 44553]))
print(len(database[database['ParticipantID'] == 33442]))

1298
1324
1318

In [182]:
database['ParticipantID'] = database['ParticipantID'].astype(str)
#database['ParticipantID'] = '"' + database.ParticipantID + '"'

In [183]:
database = database[['ParticipantID','id', 'text', 'annotation', 'annotation_date']]
database[1:10]

,ParticipantID,id,text,annotation,annotation_date
1,22334,2,"2) But because the pieces aren't exact, I have...",0,NULL
2,33442,3,"In ten minutes, my computer will announce to m...",0,NULL
3,44553,4,"One more thing lol, the /Get schooled/"" thing ...",0,NULL
4,33442,5,Lucasfilm's has stated that as the movie indus...,0,NULL
5,44553,6,OMG what is happening to this world there was ...,0,NULL
6,44553,7,"I must be a horrible person to be around, sinc...",0,NULL
7,44553,8,so many disney movies to watch! already got mu...,0,NULL
8,22334,9,"Now its time to see what is real who is real, ...",0,NULL
9,33442,10,I'm so proud of myself and all of 1st platoon ...,0,NULL

In [184]:
database['ParticipantID'] = '(' + database.ParticipantID

In [174]:
#database['annotation_date'] = database['annotation_date'].astype(str)

In [186]:
database['annotation_date'] =  database.annotation_date + '),'

In [187]:
database.to_csv('database.csv')